# Visual Studio
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries - EXCEPTO plugins de terceros
*.so
*.dylib
*.dll
!Plugins/FMODStudio/Binaries/**
!Plugins/FMODStudioNiagara/Binaries/**

# Compiled Static libraries - EXCEPTO plugins de terceros
*.lai
*.la
*.a
*.lib
!Plugins/FMODStudio/Binaries/**

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app
*.ipa

# Generated project files
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files - EXCEPTO FMOD
Binaries/*
Plugins/*/Binaries/*
!Plugins/FMODStudio/Binaries/
!Plugins/FMODStudio/Binaries/**
!Plugins/FMODStudioNiagara/Binaries/
!Plugins/FMODStudioNiagara/Binaries/**

# Builds
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Editor config
Saved/*

# Intermediate - EXCEPTO FMOD
Intermediate/*
Plugins/*/Intermediate/*

# Cache
DerivedDataCache/*

# UINavigator
!Plugins/UINaviga56d41da4976eV4/Binaries/
!Plugins/UINaviga56d41da4976eV4/Binaries/Win64/
!Plugins/UINaviga56d41da4976eV4/Binaries/Win64/UnrealEditor-UINavigation.dll
!Plugins/UINaviga56d41da4976eV4/Binaries/Win64/UnrealEditor-UINavigationEditor.dll
!Plugins/UINaviga56d41da4976eV4/Binaries/Win64/UnrealEditor.modules